<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liuChengChuan.mapper.PersonMapper">
<select id="findPersonById" parameterType="Integer" resultMap="IdCardWithPersonResult">
    select * from mybatis.tb_person where id=#{id}
</select>

<resultMap  type="Person" id="IdCardWithPersonResult">
    <id property="id" column="id"/>
    <result property="name" column="name"/>
    <result property="age" column="age"/>
    <result property="sex" column="sex"/>
    <association property="card" column="card_id" javaType="IdCard"
                 select="com.liuChengChuan.mapper.IdCardMapper.findCodeById"/>
</resultMap>

    <select id="findPersonById2" parameterType="Integer" resultMap="IdCardWithPersoonResult2">
    select p.*,idcard.code
    from mybatis.tb_person p,mybatis.tb_idcard idcard
    where p.card_id = idcard.id
    and p.id = #{id}
    </select>
    <resultMap id="IdCardWithPersoonResult2" type="person">
        <id property="id" column="id"/>
        <id property="name" column="name"/>
        <id property="age" column="age"/>
        <id property="sex" column="sex"/>
        <association property="card" javaType="IdCard">
            <id property="id" column="card_id"/>
            <id property="code" column="code"/>
        </association>
    </resultMap>
</mapper>