<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xmcu.dao.UserMapper">
<!--select all of users-->
    <select id="getUserList" resultType="com.xmcu.pojo.User">
        select * from mybatis.users
    </select>
    <select id="getUserById" parameterType="int" resultType="com.xmcu.pojo.User">
        select * from mybatis.users where uid =#{uid}
    </select>
    <insert id="addUser" parameterType="com.xmcu.pojo.User">
        insert into mybatis.users(uid,uname,uage)values (#{uid},#{uname},#{uage});
    </insert>
    <update id="updateUser" parameterType="com.xmcu.pojo.User">
        update mybatis.users set uid =#{uid},uname=#{uname},uage=#{uage} where uid =#{uid};
    </update>
    <delete id="deleteUser" parameterType="int">
        delete from mybatis.users where uid=#{uid};
    </delete>
</mapper>