<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace绑定一个对应的Dao/Mapper接口-->
<mapper namespace="com.kuang.dao.UserMapper">
    <select id="getUserList" resultType="hello">
        select * from Mybatis.users;
    </select>
<!--根据ID查询用户-->
    <select id="SelectById" parameterType="int" resultType="com.kuang.pojo.User">
        select * from Mybatis.users where id=#{id};
    </select>
<!--插入一个新用户-->
    <insert id="InsertUser" parameterType="com.kuang.pojo.User">
        insert into Mybatis.users (id,name,pwd)values(#{id},#{name},#{pwd});
    </insert>
<!--根据ID修改一个用户-->
    <update id="updateUser" parameterType="com.kuang.pojo.User">
        update Mybatis.users set name=#{name},pwd=#{pwd} where id=#{id};
    </update>
<!--删除用户操作-->
    <delete id="deleteUser" parameterType="int">
        delete from Mybatis.users where id=#{id};
    </delete>
</mapper>